
extends layout

block content
  include author

  each article in articles
    .row
      .col-md-12.col-sm-12
        // Blog List
        .blog-grid
          .row
            .col-md-4.col-sm-5
              .blog-grid-image
                a(href='article.html')
                  span.blog-grid-image-over
                  img(src='http://placehold.it/1280x853', alt='article image')
            .col-md-8.col-sm-7
              h3.blog-grid-title
                a(href='article.html') Consectetur adipisicing elit. Neque earum beatae ex est numquam!
              p.blog-grid-excerpt
                | Reiciendis inventore culpa quo pariatur minima, voluptates hic eum vitae harum architecto similique, ipsa nam unde recusandae placeat assumenda! Repudiandae dolores.
              .blog-grid-meta
                span.blog-grid-date October 28, 2015
                span.blog-grid-author
                  | by
                  a(href='#') John Doe
        // End of Blog List
      .col-md-12.col-sm-12
        // Blog List
        .blog-grid
          .row
            .col-md-4.col-sm-5
              .blog-grid-image
                a(href='article.html')
                  span.blog-grid-image-over
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(src='http://placehold.it/1280x853', alt='article image')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .col-md-8.col-sm-7
              h3.blog-grid-title
                a(href='article.html') Ducimus iusto aperiam placeat sint reiciendis velit, id saepe nobis!
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.blog-grid-excerpt
                | Distinctio dolorem odit deleniti omnis voluptate porro non saepe excepturi dicta fugit incidunt unde ipsa ab mollitia at architecto, modi illum cumque.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-grid-meta
                span.blog-grid-date October 28, 2015
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.blog-grid-author
                  | by
                  a(href='#') John Doe
        // End of Blog List
    .row
      .col-md-12.col-sm-12
        // Blog List
        .blog-grid
          .row
            .col-md-4.col-sm-5
              .blog-grid-image
                a(href='article.html')
                  span.blog-grid-image-over
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(src='http://placehold.it/1280x853', alt='article image')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .col-md-8.col-sm-7
              h3.blog-grid-title
                a(href='article.html') Molestias nam assumenda vero tenetur, libero sed distinctio in. Quibusdam!
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.blog-grid-excerpt
                | Quo quia praesentium unde voluptate porro hic ea rerum consectetur ducimus maiores, quos non veritatis ipsam aliquid. Corporis veritatis, illo repudiandae praesentium?
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-grid-meta
                span.blog-grid-date October 28, 2015
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.blog-grid-author
                  | by
                  a(href='#') John Doe
        // End of Blog List
      .col-md-12.col-sm-12
        // Blog List
        .blog-grid
          .row
            .col-md-4.col-sm-5
              .blog-grid-image
                a(href='article.html')
                  span.blog-grid-image-over
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(src='http://placehold.it/1280x853', alt='article image')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .col-md-8.col-sm-7
              h3.blog-grid-title
                a(href='article.html') Ea dolore quaerat aut deleniti illo sed ratione, ipsam debitis.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.blog-grid-excerpt
                | Praesentium beatae aliquam quia eligendi omnis vel tenetur tempore? Unde reiciendis exercitationem dolor repudiandae quam repellendus assumenda maxime labore, a fugiat id.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-grid-meta
                span.blog-grid-date October 28, 2015
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.blog-grid-author
                  | by
                  a(href='#') John Doe
        // End of Blog List
    .row
      .col-md-12.col-sm-12
        // Blog List
        .blog-grid
          .row
            .col-md-4.col-sm-5
              .blog-grid-image
                a(href='article.html')
                  span.blog-grid-image-over
                  img(src='http://placehold.it/1280x853', alt='article image')
            .col-md-8.col-sm-7
              h3.blog-grid-title
                a(href='article.html') Consectetur adipisicing elit. Neque earum beatae ex est numquam!
              p.blog-grid-excerpt
                | Veritatis quia provident, magnam nobis id, adipisci laudantium. Dolor error minima, fuga. Enim, perspiciatis praesentium distinctio reiciendis. Recusandae culpa aut odit.
              .blog-grid-meta
                span.blog-grid-date October 28, 2015
                span.blog-grid-author
                  | by
                  a(href='#') John Doe
        // End of Blog List
      .col-md-12.col-sm-12
        // Blog List
        .blog-grid
          .row
            .col-md-4.col-sm-5
              .blog-grid-image
                a(href='article.html')
                  span.blog-grid-image-over
                  img(src='http://placehold.it/1280x853', alt='article image')
            .col-md-8.col-sm-7
              h3.blog-grid-title
                a(href='article.html') Ducimus iusto aperiam placeat sint reiciendis velit, id saepe nobis!
              p.blog-grid-excerpt
                | Recusandae beatae iste numquam ea neque adipisci, error quis aut illo magni unde aliquid vero mollitia fugit repudiandae, cupiditate! Aspernatur, quos, enim.
              .blog-grid-meta
                span.blog-grid-date October 28, 2015
                span.blog-grid-author
                  | by
                  a(href='#') John Doe
        // End of Blog List//



block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »
